* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(159, 166, 219);
    color: #333;
    line-height: 1.6;
    height: 100%;
    margin: 0;
}

.caja{
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.696);
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: cornsilk;
}