* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .contenedorImagen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  

.contenedorImagen img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
  body {
    font-family: Arial, sans-serif;
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #333;
    line-height: 1.6;
    height: auto;
    margin: 0;
  }
  
  .form-group {position: relative; margin-bottom: 20px; width: 300px;}
  
  .floating-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: 0.3s;
    color: #666;
    pointer-events: none;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .form-input:focus + .floating-label,
  .form-input:not(:placeholder-shown) + .floating-label {
    top: 0;
    font-size: 12px;
    color: #333;
  }
  
  .tooltip {
    position: absolute;
    top: -30px;
    left: 10px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
  }
  
  .form-group:hover .tooltip {opacity: 1; transform: translateY(0);}
  
  .contenedorBotones {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
  }
  a {
    padding: 30px;
    width: 100%; 
    height: 20px; 
    cursor: pointer;
    user-select: none;
  }
  
  .container-p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .bloq-simulador {flex: 1 1 auto; min-width: 0;}
  
  #simulacionCanvas {
    padding: 1.5rem;
    border: 4px double #5a3e2b;
    box-shadow: 4px 4px #000;
    font-family: "Courier New", Courier, monospace;
  }
  
  .simulacion {display: flex; justify-content: center; align-items: center;}
  
  .iteminfo {
    list-style-type: "🠒 ";
    padding-left: 1rem;
    font-size: 1.05rem;
  }
  
  .bloq-simulador {
    width: 40%;
    background-color: #f9f1dc;
    padding: 1.5rem;
    border: 4px double #5a3e2b;
    box-shadow: 4px 4px #000;
    font-family: "Courier New", Courier, monospace;
  }
  
  @keyframes starTwinkle {
    0% {
      transform: translate(0, 0);
      opacity: 0.6;
    }
    50% {
      transform: translate(-10px, -20px);
      opacity: 1;
    }
    100% {
      transform: translate(0, 0);
      opacity: 0.6;
    }
  }
  
  h1 {
    color: #481919;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  
  .controls {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  
  .control-item {
    flex: 1 1 300px; 
    max-width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }



  .control-item,
 fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px; 
  max-width: 100%; 
  width: 100%;
  box-sizing: border-box; 
}

  
  .control-item label {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
  }
  
  .control-item input,
  .control-item select {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: transparent;
    color: #333;
  }
  
  .controls label {font-size: 1em; color: #333;}
  
  .controls input,
  .controls select {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9fafb;
  }
  
  .botones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
  button {
    width: 100%;
    font-family: "Georgia", serif;
    background-color: #f4e3c1;
    color: #3f2a14;
    border: 3px solid #3f2a14;
    padding: 10px 22px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 6px;
    box-shadow: 2px 2px 0 #a58b6f;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e5d2ac;
    color: #2d1a09;
    box-shadow: 1px 1px 0 #a58b6f;
    transform: translateY(1px);
  }
  
  .control-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .simulacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  canvas {
    width: 100%;
    max-width: 500px;
    height: 300px;
    border: 2px solid #3e1515;
    background-color: #f9fafb;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(82, 32, 32, 0.3);
  }
  
  #resultado {
    font-family: "New Century Schoolbook, TeX Gyre Schola, serif";
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(45, 45, 45);
  }
  
  .juego {
    border: 1px solid #5a3e2b;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: #c9ba95;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .juego:hover {
    background-color: #968967;
    color: #333;
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  legend {
    font-size: 1.1em;
    font-weight: bold;
    color: #421515;
    margin-bottom: 10px;
    text-align: center;
  }
  
  fieldset .control-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  fieldset input,
  fieldset select {
    width: 100%;
    max-width: 400px; 
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: transparent;
    color: #333;
  }
  
  
  .borrar {
    background-color: rgb(212, 5, 5);
  }
  
  .borrar:hover {
    background-color: rgb(188, 4, 4);
  }
  
  fieldset label {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
  }
  
  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }
  
  body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  
  @media (max-width: 768px) {


    fieldset {
        min-width: 100%; 
      }
      
      fieldset .control-group {
        flex-direction: column;
        align-items: stretch;
      }
    
      fieldset input,
      fieldset select {
        max-width: 100%; 
      }

  .control-item {
    flex: 1 1 100%; 
  }
    .container-p {
      flex-direction: column;
      align-items: stretch;

    }
  
    .bloq-simulador {
      width: 90% !important;
      max-width: 500px;
      min-width: 318px; 
    }
  
    .controls,
    .botones {
      grid-template-columns: 1fr !important;
      width: 100%;
    }
  
    canvas {
      width: 100% !important;
      height: auto !important;
    }
  
    button {
      width: 100%;
    }
  }